body{
font-family:Arial,sans-serif;
display:flex;
justify-content:center;
background-color:#f0ec00;
padding-top:50px;
}
.tool-container{
background:white;
padding:20px;
border-radius:15px;
box-shadow:0 10px 30px rgba(0,0,0,0.1);
width:90vw;
max-width:600px;
}
.controls{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:15px;
}
#undoBtn{
background-color:#f6ff00;
color:white;
border:none;
padding:10px 25px;
border-radius:5px;
cursor:pointer;
font-weight:bold;
}
#undoBtn:active{
transform:scale(0.95);
}
svg{
border-radius:10px;
cursor:crosshair;
touch-action:none;
}
#counter{
font-weight:bold;
color:#00000000;
}body{
font-family:Arial,sans-serif;
display:flex;
justify-content:center;
background-color:#f0ec00;
padding-top:50px;
}
.tool-container{
background:white;
padding:20px;
border-radius:15px;
box-shadow:0 10px 30px rgba(0,0,0,0.1);
width:90vw;
max-width:600px;
}
.controls{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:15px;
}
#undoBtn{
background-color:#f6ff00;
color:white;
border:none;
padding:10px 25px;
border-radius:5px;
cursor:pointer;
font-weight:bold;
}
#undoBtn:active{
transform:scale(0.95);
}
svg{
border-radius:10px;
cursor:crosshair;
touch-action:none;
}
#counter{
font-weight:bold;
color:#00000000;
}
